<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pagina Principal</title>
    <style>
        .WebDesigner{
            text-align:center


        }
        h2{
           text-align:center;
           color:black;
           font-family:'Book Antiqua';
           font-size:500%
        }

        h1 {
            text-align: center;
            color: black;
            font-family: Britannic, Geneva, Verdana, sans-serif;
        }

        table{
            border-radius:80px


        }
        body{


        }

        .contenedor{
            background-color:wheat


        }



    </style>
</head>
<body style="background-color:lightslategray">
    <h2>Empleos que Ofrecemos</h2>
    <hr />
    <hr /> 
    <br />
    <br />


    <div class="contenedor">
        <table>

            <tr class="WebDesigner">
                <h1>Diseñador Web</h1>
                <td><a href="Prueba/Index1"><img style="height:70%;width:70%; margin-left:40%;border-radius:100%" src="~/Imagenes/disenador.jpg" /></a></td>
            </tr>


        </table>

        <br />


        <table>
            <h1>Programador</h1>
            <tr class="WebDesigner">
                <td><a href="Prueba/Index"><img style="height:35%;width:47%; border-radius:100%" src="~/Imagenes/visual-studio-online.jpg" /></a></td>
            </tr>
        </table>

        <br />
        <table>
            <h1>Área Administrativa</h1>
            <tr class="WebDesigner">
                <td><a href="Prueba/Index2"><img style="height:75%;width:70%;margin-left:35%;border-radius:100%" src="~/Imagenes/administrador-e1550360735144.jpg" /></a></td>
            </tr>
        </table>
        <br />
        <table>
            <h1>Área de Mantenimiento</h1>
            <tr class="WebDesigner">
                <td><a href="Prueba/Index3"><img style="height:90%;width:110%;margin-left:55%;border-radius:100%" src="~/Imagenes/Mantenimiento.jpg" /></a></td>
            </tr>
        </table>









    </div>


    

</body>
</html>
